<!DOCTYPE html>
<html>
<head>
    <{include file='backend/lib/meta.html'}>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css"/>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css"/>
    <script type="text/javascript" src="public/script/jquery.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
    <script src="public/theme/frontend/default/js/dist/lrz.bundle.js"></script>
    <script type="text/javascript">
        function submitForm() {
            $('#username').vdsFieldChecker({rules: {username: [/^[a-zA-Z][_a-zA-Z0-9]{4,15}$/.test($('#username').val()), '用户名不符合格式要求']}});
            if ($('#resetpwd').val() == 1) {
                $('#password').vdsFieldChecker({rules: {required: [true, '请设置密码'], password: [true, '密码不符合格式要求']}});
            }
            $('#repassword').vdsFieldChecker({rules: {equal: [$('#password').val(), '两次密码不一致']}});
            $('#full_name').vdsFieldChecker({rules: {required: [true, '请输入联系人'], maxlen: [60, '联系人不能超过60个字符']}});
            $('#telephone').vdsFieldChecker({rules: {required: [true, '请输入联系方式'], maxlen: [20, '联系方式不能超过20个字符']}});
            $('#company_name').vdsFieldChecker({rules: {required: [true, '请输入公司名称'], maxlen: [100, '公司名称不能超过100个字符']}});
            $('#abbreviation').vdsFieldChecker({rules: {required: [true, '请输入公司简称'], maxlen: [10, '公司简称不能超过10个字符']}});
            $('#address').vdsFieldChecker({rules: {required: [true, '请输入公司地址'], maxlen: [100, '公司地址不能超过100个字符']}});
            $('#license').vdsFieldChecker({rules: {required: [true, '请上传营业执照']}});
            $('form').vdsFormChecker();
        }

        function resetPwd(btn) {
            $('.setpwd').removeClass('hide');
            $('#resetpwd').val(1);
            $(btn).parentsUntil('tr').parent().addClass('hide');

            var html = '\n' +
                '          <tr class="setpwd">\n' +
                '            <th>密码</th>\n' +
                '            <td><input class="w200 txt" name="password" id="password" type="password" />\n' +
                '              <p class="c999 mt10">可以包含字母、数字以及特殊符号，长度为6-32个字符</p>\n' +
                '            </td>\n' +
                '          </tr>\n' +
                '          <tr class="setpwd">\n' +
                '            <th>确认密码</th>\n' +
                '            <td><input class="w200 txt" name="repassword" id="repassword" type="password" /></td>\n' +
                '          </tr>';


            $(btn).parent().parent().after(html);
        }
        function update() {
            if ($('#license_src').css('display')=='none'){
                $('#distinctions').css('display','none');
                $('#license_src').css('display','')
            }else {
                $('#distinctions').css('display','');
                $('#license_src').css('display','none')
            }
        }
        function uploading() {
            if ($('#rest').css('display')=='none'){
                $('#distinction').css('display','none');
                $('#rest').css('display','')
            }else {
                $('#distinction').css('display','');
                $('#rest').css('display','none')
            }
        }
    </script>
</head>
<body>
<{if $_GET['a'] == 'add'}>
<div class="content">
    <div class="loc"><h2><i class="icon"></i>添加新商家</h2></div>
    <form method="post" action="<{url m=$MOD c='merchant' a='add' step='submit'}>">
        <input type="hidden" name="token" value="<{$token}>"/>
        <div class="box">
            <div class="module">
                <table class="dataform">
                    <tr>
                        <th width="110">用户名</th>
                        <td><input title="用户名" class="w200 txt" name="username" id="username" type="text"/>
                            <p class="c999 mt10">可以包含字母、数字或下划线，须以字母开头，长度为5-16个字符</p></td>
                    </tr>
                    <tr>
                        <th>密码</th>
                        <td>
                            <input title="密码" class="w200 txt" name="password" id="password" type="password"/>
                            <input type="hidden" name="resetpwd" id="resetpwd" value="1"/>
                            <p class="c999 mt10">可以包含字母、数字以及特殊符号，长度为6-32个字符</p>
                        </td>
                    </tr>
                    <tr>
                        <th>确认密码</th>
                        <td><input class="w200 txt" name="repassword" id="repassword" type="password"/></td>
                    </tr>
                    <tr>
                        <th>联系人</th>
                        <td><input class="w200 txt" name="full_name" id="full_name" type="text"/></td>
                    </tr>
                    <tr>
                        <th>联系电话</th>
                        <td><input class="w200 txt" name="telephone" id="telephone" type="text"/></td>
                    </tr>
                    <tr>
                        <th>公司名称</th>
                        <td><input class="w200 txt" name="company_name" id="company_name" type="text"/></td>
                    </tr>
                    <tr>
                        <th>公司简称</th>
                        <td><input class="w200 txt" name="abbreviation" id="abbreviation" type="text"/></td>
                    </tr>
                    <tr>
                        <th>公司地址</th>
                        <td><input class="w200 txt" name="address" id="address" type="text"/></td>
                    </tr>
                    <tr>
                        <th>营业执照</th>
                        <td>
                            <div>
                                <div><label><input id="file"  type="file"/></label>
                                    <p class="caaa mt10">仅允许上传 "png"、"jpg"、"jpeg" 类型的图片</p></div>
                                <div class="hide"><label>
                                    <input title="URL" name="license_src" class="w500 txt"
                                           type="text"/>
                                </label></div>
                            </div>
                            <input type="hidden" value="" id="license" name="license">
                        </td>
                    </tr>
                    <tr>
                        <th>其他</th>
                        <td>
                            <div>
                                <div><label><input id="files" type="file"/></label>
                                    <p class="caaa mt10">仅允许上传 "png"、"jpg"、"jpeg" 类型的图片</p></div>
                                <div class="hide"><label>
                                    <input title="URL" name="other_src" class="w500 txt"
                                           type="text"/>
                                </label></div>
                                <input type="hidden" value="" id="other" name="other" >
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="submitbtn">
                <button type="button" class="ubtn btn" onclick="submitForm()">保存并提交</button>
                <button type="reset" class="fbtn btn">重置表单</button>
            </div>
        </div>
    </form>
</div>
<{else}>
<div class="content">
    <div class="loc"><h2><i class="icon"></i>编辑商家:<font class="ml5">[<{$rs.user_id}>]</font></h2></div>
    <form method="post" action="<{url m=$MOD c='merchant' a='edit' id=$rs.user_id step='submit'}>">
        <input type="hidden" name="token" value="<{$token}>"/>
        <div class="box">
            <div class="module">
                <table class="dataform">
                    <tr>
                        <th width="110">用户名</th>
                        <td><input class="w200 txt" name="username" id="username" type="text" value="<{$rs.username}>" readonly/>
                            <p class="c999 mt10">可以包含字母、数字或下划线，须以字母开头，长度为5-16个字符</p>
                        </td>
                    </tr>
                    <tr>
                        <th>重设密码</th>
                        <td>
                            <button type="button" class="cbtn sm btn" onclick="resetPwd(this)">点击重新设置密码</button>
                            <input type="hidden" name="resetpwd" id="resetpwd" value=""/>
                            <p class="c999 mt10">如需重设密码请点击以上按钮，否则密码保持不变</p>
                        </td>
                    </tr>
                    <tr>
                        <th>联系人</th>
                        <td><input class="w200 txt" name="full_name" id="full_name" type="text" value="<{$rs.full_name}>"/></td>
                    </tr>
                    <tr>
                        <th>联系电话</th>
                        <td><input class="w200 txt" name="telephone" id="telephone" type="text" value="<{$rs.telephone}>"/></td>
                    </tr>
                    <tr>
                        <th>公司名称</th>
                        <td><input class="w200 txt" name="company_name" id="company_name" type="text" value="<{$rs.company_name}>"/></td>
                    </tr>
                    <tr>
                        <th>公司简称</th>
                        <td><input class="w200 txt" name="abbreviation" id="abbreviation" type="text" value="<{$rs.abbreviation}>"/></td>
                    </tr>
                    <tr>
                        <th>公司地址</th>
                        <td><input class="w200 txt" name="address" id="address" type="text" value="<{$rs.address}>"/></td>
                    </tr>
                    <tr>
                        <th>上次登录日期</th>
                        <td><p class="pad5 c999"><{date('Y-m-d h:i:s', $rs.last_date)}></p></td>
                    </tr>
                    <tr>
                        <th>上次登录IP</th>
                        <td><p class="pad5 c999"><{$rs.last_ip}></p></td>
                    </tr>
                    <tr>
                        <th>创建日期</th>
                        <td><p class="pad5 c999"><{date('Y-m-d h:i:s', $rs.created_date)}></p></td>
                    </tr>
                    <tr>
                        <th>营业执照</th>
                        <td>

                            <div style="display:none" id="license_src">
                                <div><label><input id="file"  type="file"/></label>
                                    <p class="caaa mt10">仅允许上传 "png"、"jpg"、"jpeg" 类型的图片</p></div>
                                <div class="hide"><label>
                                    <input title="URL" name="license_src" class="w500 txt"
                                           type="text"/>
                                </label></div>
                            </div>

                            <input type="hidden" value="<{$rs.license}>" id="license" name="license">

                            <img src="/<{$rs.license}>" style="height: 100px" id="distinctions">

                            <{if ($rs['license'])}>
                            <a onclick="update()">上传营业执照</a>
                            <{/if}>
                        </td>
                    </tr>
                    <tr>
                        <th>其他</th>
                        <td>
                            <div style="display: none" id="rest">
                                <div><label><input id="files" type="file"/></label>
                                    <p class="caaa mt10">仅允许上传 "png"、"jpg"、"jpeg" 类型的图片</p></div>
                                <div class="hide"><label>
                                    <input title="URL" name="other_src" class="w500 txt"
                                           type="text"/>
                                </label></div>
                            </div>
                            <input type="hidden" value="<{$rs.other}>" id="other" name="other" >
                            <div id="distinction">
                                <{if ($rs['other'])}>
                                <img src="/<{$rs.other}>" style="height: 100px">
                                <{else}>
                                暂无
                                <{/if}>
                            </div>
                            <a onclick="uploading()" style="margin-left: 50px">上传其他</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="submitbtn">
                <button type="button" class="ubtn btn" onclick="submitForm()">保存并更新</button>
                <button type="reset" class="fbtn btn">重置表单</button>
            </div>
        </div>
    </form>
</div>
<{/if}>
</body>
<script>
    document.querySelector('#file').addEventListener('change', function () {
        lrz(this.files[0])
            .then(function (rst) {
                // 处理成功会执行
                console.log(rst);
                var url="<{url m=$MOD c='merchant' a='img'}>";
                var data={img:rst.base64}
                $.post(url,data,function (e) {
                    $('#license').val(e);
                })
            })
            .catch(function (err) {
                // 处理失败会执行
            })
            .always(function () {
                // 不管是成功失败，都会执行
            });
    })
    document.querySelector('#files').addEventListener('change', function () {
        lrz(this.files[0])
            .then(function (rst) {
                // 处理成功会执行
                console.log(rst);
                var url="<{url m=$MOD c='merchant' a='img'}>";
                var data={img:rst.base64}
                $.post(url,data,function (e) {
                    console.log(e);
                    $('#other').val(e);
                })
            })
            .catch(function (err) {
                // 处理失败会执行
            })
            .always(function () {
                // 不管是成功失败，都会执行
            });
    })
</script>
</html>
