<!DOCTYPE html>
<html>
<head>
    <{include file='merchant/lib/meta.html'}>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css"/>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css"/>
    <script type="text/javascript" src="public/script/jquery.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>

<div class="content">
    <div class="loc"><h2><i class="icon"></i>绑定微信</h2></div>
    <form>
        <input type="hidden" name="token" value=""/>
        <div class="box">
            <div class="module">
                <table class="dataform">
                    <tr class="setpwd">
                        <th>请扫描二维码</th>
                        <td>
                            <{if empty($info['open_id'])}>
                            <img src="<{$ticket}>" style="width: 270px">
                            <{else}>
                            该用户已经绑定微信新订单提醒，如需解绑请联系管理员
                            <{/if}>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>

</body>
</html>
