.categories {height:250px;}
/* 宽高容器 */
div.w1110 {width:1110px;height:auto;position:relative;overflow:hidden;}
/* 轮播图片 */
.carousel {width:630px;height:240px;margin:10px 0 0 10px;position:relative;}
.carousel-imgs {width:100%;height:240px;}
.carousel-tog {position:absolute;bottom:12px;right:20px;}
.carousel-tog li {display:block;float:left;width:10px;height:10px;border:1px solid #fff;margin-left:12px;background:#ccc;overflow:hidden;text-indent:-99px;cursor:pointer;}
.carousel-tog li.cur {background:#FFCC66;}
/* 资讯 */
.news {width:238px;height:158px;border:1px solid #e5e5e5;}
.news h2 {font-size:14px;color:#666;padding:7px 0 7px 10px;border-bottom:1px solid #e5e5e5;background:#f3f3f3;}
.news h2 a {color:#999;font-weight:normal;font-size:12px;margin-right:10px;}
.news h2 a i {font-style:normal;font-family:simsun;}
.news h2 a:hover, .news ul li a:hover {color:#CC3366;text-decoration:none}
.news ul {padding:5px 8px;}
.news ul li {padding:7px 5px;}
.news ul li a {display:block;color:#666;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.news ul li a b {color:#666;margin-right:5px;}
/* 商品列表 */
.gli_t {color:#666;padding:0 0 0 2px;}
.gli_t h2 {font-size: 20px;font-weight: bold;color: #6B6B6B;}
.gli_t .tag{
    background-color: #f04844;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 0 4px;
    font-weight: normal;
}
.gli_t .desc{
    font-size: 12px;
    color: #868686;
    font-weight: normal;
}
.gli {padding:10px 0;}
.gli .ul_box {
    width: 900px;
    float: right;
}
.gli ul li {display:block;float:left;width: 192px;margin-right:10px;padding:10px 10px 15px 10px;}
.gli ul li:nth-child(4n+1){clear:both}
.gli ul li .im {
    text-align:center;
    position: relative;
}
.ziy {
    width: 40px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    /*line-height: 33px;*/
    color: #fff;
    background: #f2270c;
    border-radius: 4px;
    /*border-radius: 0 0 50% 50%;*/
    position: absolute;
    top: 0;
    right: 0;
}
.gli ul li .im img {width: 192px;height: 170px;object-fit: contain;}
.gli ul li h3 { padding:10px; height: 38px;}
.gli ul li h3 a {
    font-weight: normal;
    color: #6B6B6B;
    font-size: 14px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.gli ul li h3 a:hover {color:#CC3366;text-decoration:none}
.gli ul li p.price {font-size:16px;color: #F04844;margin-left: 10px;}
.gli ul li p.price i {font-style:normal;font-size:14px;}
.gli .u_banner {
    width: 192px;
    height: 590px;
    background: gold;
    float: left;
    margin-top: 10px;
}
.gli .u_banner .adsense {
    width: 100%;
    height: 100%;
}
.shop {
    padding: 0 10px 10px 10px!important;
}
.shop a {
    font-weight:normal;color: #999999;font-size: 14px;
}
.shop a:hover {color:#CC3366;text-decoration:none}
.index-banner {
    height: 560px;
}
.index-banner .swiper-slide{
    background-position: center;
    background-size: cover;
}
.index-banner-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
}
.index-cate{
    height: 100%;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    box-sizing: border-box;
    position: relative;
}
.left-cate{
    background-color: rgba(255, 255, 255,0.95);
    height: 100%;
    width: 230px;
    z-index: 100;
}
.left-cate .cate-item {
    height: 48px;
    box-sizing: border-box;
    line-height: 20px;
}
.left-cate .cate-item > a {
    color: #000;
    font-size: 14px;
    display: block;
    padding: 14px 30px;
}
.left-cate .cate-item:hover > a{color:#1173ee;background-color:#eff7fe}
.right-cate{
    position: absolute;
    background-color: rgba(255, 255, 255,0.95);
    left: 230px;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 10px 25px;
    border-left: 1px solid #f2f2f2;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .3s;
    z-index: -10;
}
.left-cate .cate-item:hover .right-cate {
    opacity: 1;
    z-index: 1;
}
.right-two{
    padding: 14px 0;
    font-size: 14px;
    border-bottom: 1px solid #f2f2f2;
}
.right-two > span{}
.right-two a{cursor: pointer}
.right-two > a{
    font-size: 14px;
    color: #333;
    margin-right: 14px;
}
.right-three{}
.right-three > a{
    color: #333;
    font-size: 14px;
}
.right-three > a:not(:last-child):after{
    content: "|";
    margin: 0 6px
}
