<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="hx_baseurl" content="<{$common.baseurl}>">
<title>用户注册 - <{$GLOBALS.cfg.site_name}></title>
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/general.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/login.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
<script type="text/javascript" src="<{$common.baseurl}>/public/script/jquery.js"></script>
<script type="text/javascript" src="<{$common.theme}>/js/general.js"></script>
<script type="text/javascript">
  function showError(err) {
    var $el = $('#error');
    if (!err) {
      $el.html('').css('display','none');
      return
    }
    $el.html(err).css('display', 'block')
  }
  function validate(rules) {
    for (var i = 0,len = rules.length; i< len; i++) {
      if (!rules[i].rule) {
        showError(rules[i].msg);
        return false
      }
    }
    return true
  }
  $(function () {
    $("#a").click(function(){
      $("#modal").show();
    });
    $("#modal").click(function(e){
      $("#modal").hide();
      e.preventDefault();
      e.stopPropagation();
    })
    $("#content").click(function (e) {
      e.preventDefault();
      e.stopPropagation();
    })
    $("#sure").click(function() {
      $("#modal").hide();
    })
  })
function register(btn){
    var username = $('#username').val();
    var phone = $('#phone').val();
    //var captcha = $('#captcha').val();
    var password = $('#password').val();
    var repassword = $('#repassword').val();
    showError();
    if (!validate([
      {
        rule: username,
        msg: '请设置用户名'
      },
      {
        rule: /^[a-zA-Z][_a-zA-Z0-9]{4,15}$/.test(username),
        msg: '用户名不符合格式要求'
      },
      {
        rule: phone,
        msg: '请输入手机号'
      },
      {
        rule: /^1[\d]{10}$/.test(phone),
        msg: '手机号不符合格式要求'
      },
      // {
      //   rule: captcha,
      //   msg: '请输入验证码'
      // },
      {
        rule: password,
        msg: '请设置密码'
      },
      {
        rule:  /^$|^[\\~!@#$%^&*()-_=+|{}\[\],.?\/:;\'\"\d\w]{6,31}$/.test(password),
        msg: '密码不符合格式要求'
      },
      {
        rule: repassword,
        msg: '请设置密码'
      },
      {
        rule:  /^$|^[\\~!@#$%^&*()-_=+|{}\[\],.?\/:;\'\"\d\w]{6,31}$/.test(repassword),
        msg: '密码不符合格式要求'
      },
      {
        rule: repassword == password,
        msg: '两次密码输入不一致'
      },
      {
        rule:  $('#agree').prop('checked'),
        msg: '必须阅读并同意用户注册协议'
      }
    ])) {
      return false
    }
  $('#register-form').submit();
}
  var timer = null;
  function countDown($el, time) {
    if (time <= 0) {
      clearTimeout(timer);
      timer = null;
      $el.text('发送短信');
      return
    }
    $el.text(time + 'S后重试');
    timer = setTimeout(function () {
      countDown($el, time - 1)
    }, 1000)
  }
function getCaptcha(btn){
    if (timer) {
      return
    }
  var phone = $('#phone').val();
  this.showError();
  if (!validate([
    {
      rule: phone,
      msg: '请输入手机号'
    },
    {
      rule: /^1[\d]{10}$/.test(phone),
      msg: '手机号不符合格式要求'
    },
  ])) {
    return false
  }

  var url = "<{url c='user' a='get_captcha'}>";
  var data = {
    'phone': phone,
    'type': 1
  };
  $.post(url,data,function (r) {
    if(r.errcode == 0){
      $btn = $(btn);
      countDown($btn, 59)
      $('#captcha').focus();
    }else{
      $.vdsPopDialog({text:r.errmsg,type:'err'});
    }

  },'JSON');
}
</script>
</head>
<body>
<!-- 顶部开始 -->
<{layout_topper common=$common}>
<!-- 头部开始 -->
<{layout_header common=$common}>
<!-- 主体开始 -->
<div class="login-container" style="margin-bottom: -24px">
<div class="container w1100">
  <div class="wbox cut">
    <div class="login signup cut">
      <div class="login-header">
        <a  href="<{url c='user' a='login'}>">用户登录</a>
        <a class="act" href="<{url c='user' a='register'}>">注册会员</a>
      </div>
      <form method="post" action="<{url c='user' a='register' step='submit'}>" id="register-form">
        <div class="login-body cut">
          <p class="error red mt20" id="error" style="display: none"></p>
          <dl class="username">
            <dt><i class="fa fa-user"></i></dt>
            <dd>
              <input name="username" id="username" type="text" data-warnpos="fixed" placeholder="设置用户名" />
            </dd>
          </dl>
          <dl>
            <dt><i class="fa fa-phone"></i></dt>
            <dd>
              <input name="phone" id="phone"  type="tel" maxlength="11" placeholder="手机号" data-warnpos="fixed" />
            </dd>
          </dl>
<!--           <dl>
            <dt><i class="fa"></i></dt>
            <dd>
              <input name="captcha" id="captcha" type="text" placeholder="验证码" />
              <a class="sendmsg-btn" onclick="getCaptcha(this)">发送短信</a>
            </dd>
          </dl> -->
          <dl>
            <dt><i class="fa fa-lock"></i></dt>
            <dd>
              <input name="password" id="password" type="password" placeholder="设置密码" data-warnpos="fixed" />
            </dd>
          </dl>
          <dl>
            <dt><i class="fa fa-lock"></i></dt>
            <dd>
              <input name="repassword" id="repassword" type="password" placeholder="确认密码" data-warnpos="fixed" />
            </dd>
          </dl>
          <div class="agreement mt20 c666">
            <label><input name="agree" id="agree" type="checkbox" checked="checked" /><font class="ml5">已阅读完并同意 <a href="javascript:void(0)" id="a">"用户注册协议"</a></font></label>
          </div>
          <div class="sutr mt20"><a href="javascript:void(0)" class="form-submit aln-c" onclick="register(this)">立即注册</a></div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- 页脚开始 -->
<{layout_helper}>
<{layout_footer}>
<div class="modal" id="modal">
  <div class="modal_content" id="content">
    <div class="mo_title"><{$help.title}></div>
    <div style="padding: 0 30px" class="content mt30 cut"><{$help.content nofilter}></div>
    <div class="mo_btn_box">
      <div class="mo_btn" id="sure">确定</div>
    </div>
  </div>
</div>
</body>
</html>
